.app {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #1d2671, #c33764);
  color: white;
}

.header {
  padding-top: 150px;
}

button {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: white;
  color: #1d2671;
}

button:hover {
  background-color: #f1f1f1;
}
button:active {
  background-color: #e1e1e1;
}